<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

</head>
<body>
<p>Hi Asad</p>
<button>Click Me</button>

<ol>
  <li>New Message: Stimulus Launch Party</li>
  <li>Overdue: Finish Stimulus 1.0</li>
</ol>

<div data-controller="clipboard">

</div>

<!--<div data-controller="clipboard" data-clipboard-supported-class="clipboard--supported">-->
<!--  PIN: <input data-clipboard-target="source" type="text" value="6436" readonly>-->
<!--  <button data-action="clipboard#copy" class="clipboard-button">Copy to Clipboard</button>-->
<!--  <textarea data-action="click->clipboard#input">Please enter some number</textarea>-->
<!--  ------------------------->
<!--</div>-->
<!--  <div data-controller="clipboard">-->
<!--    PIN: <input data-clipboard-target="source" type="text" value="3737" readonly>-->
<!--    <a href="#" data-action="clipboard#copy" class="clipboard-button">Copy to Clipboard</a>-->
<!--  </div>-->
<!--  ------------------------->

<!--<div data-controller="clipboard">-->
<!--  PIN: <input data-clipboard-target="source" type="text" value="6436" readonly>-->
<!--  <button data-action="click->clipboard#greet">Click Me</button>-->
<!--    <p class="test" data-clipboard-target="asad">"My nam is Asad"</p>-->
<!--</div>-->
</body>
</html>
